:80 {

    # === URL ROUTING ===

    handle /api/docs/* {
        root * /usr/src/app
        try_files {uri} {uri}/redoc.html
        file_server
    }

    handle /admin/* {
        reverse_proxy backend:8000
    }

    handle /api/v1/* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }

    # === LOGGING ===

    log {
		output stdout
	}
}
